@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tpr8jc');
  src:  url('fonts/icomoon.eot?tpr8jc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tpr8jc') format('truetype'),
    url('fonts/icomoon.woff?tpr8jc') format('woff'),
    url('fonts/icomoon.svg?tpr8jc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-twitter-x:before {
  content: "\e902";
}
.icon-linkedin_icon:before {
  content: "\e903";
}
.icon-facebook_icon:before {
  content: "\e904";
}
