@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tpr8jc');
  src:  url('fonts/icomoon.eot?tpr8jc#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tpr8jc') format('truetype'),
    url('fonts/icomoon.woff?tpr8jc') format('woff'),
    url('fonts/icomoon.svg?tpr8jc#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hamburger:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-twitter-x:before {
  content: "\e902";
}
.icon-linkedin_icon:before {
  content: "\e903";
}
.icon-facebook_icon:before {
  content: "\e904";
}



